.auth__form {
  @apply flex flex-col bg-white m-2 p-4 w-full md:w-1/2 xl:mt-16 rounded-md;
}

.auth__label {
  @apply mt-2;
}

.auth__input {
  @apply p-1 border border-slate-300 rounded-sm;
}

.auth__p__wrap {
  @apply mb-2;
}

.auth__btn__wrap {
  @apply flex flex-col justify-center items-center mt-3 md:mt-8 w-full;
}

.auth__btn__wrap button {
  @apply w-56 mb-2;
}