@import url('https://fonts.googleapis.com/css2?family=Dosis&family=IM+Fell+Double+Pica+SC&family=Inconsolata:wght@400;700&family=Prompt:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::before, ::after {
  box-sizing: border-box;
}

body {
  @apply bg-st-drk-primary overflow-x-hidden transition-all;
}

/*^ Global elements */
main {
  @apply flex flex-col items-center w-full min-h-full my-1;
}

section {
  @apply flex flex-col items-center justify-between min-h-full w-96 sm:w-[640px] lg:w-[950px] xl:w-[1024px];
}

h1 {
  @apply text-4xl font-fell;
}

h3, label, button {
  @apply text-2xl font-Inconsolata;
}

p, input {
  @apply font-dosis;
}

/*^ Global classes */
.flex__center {
  @apply flex items-center justify-center
}

.flex__col__center__full {
  @apply flex flex-col items-center justify-around h-full
}

.primary__btn {
  @apply text-st-drk-primary bg-white border-2 border-st-drk-primary rounded font-Inconsolata drop-shadow-lg px-8 py-2 hover:drop-shadow-none;
}

.secondary__btn {
  @apply text-white bg-st-drk-primary border-2 border-st-drk-primary rounded font-Inconsolata drop-shadow-lg px-8 py-2 hover:drop-shadow-none;
}

.action__btn {
  @apply border-2 border-st-secondary rounded-lg mb-4 px-6 py-2 bg-white text-black drop-shadow-lg hover:drop-shadow-none;
}

.signin__btn {
  @apply border-2 border-st-drk-primary bg-st-lt-secondary px-6 py-2 rounded-md font-Inconsolata text-black drop-shadow-lg hover:drop-shadow-none;
}

.subscribe__btn {
  @apply border-2 border-st-secondary rounded-lg mb-4 px-6 py-2 bg-white text-black drop-shadow-lg hover:drop-shadow-none;
}
