/*^ Styles for the landing page */

/*> Landing Hero */
.st__container__white {
  @apply bg-white;
}

.st__wrap {
  @apply flex flex-col items-center justify-between w-full min-h-screen pt-6;
}

.st__hero {
  @apply flex flex-col sm:flex-row justify-evenly w-full h-[70vh];
}

.st__hero__title__wrap {
  @apply flex flex-col items-center justify-center;
}

.st__hero__title {
  @apply align-middle mt-10 text-5xl md:text-7xl drop-shadow-md;
}

.st__hero__subtitle {
  @apply align-middle;
}

.st__hero__action__wrap {
  @apply flex justify-around my-16 w-full;
}

.st__hero__img__wrap {
  @apply hidden sm:flex justify-center items-center;
}

.st__hero__img {
  @apply sm:w-auto sm:drop-shadow-md;
}

.st__hero__banner__wrap {
  @apply w-full bg-gradient-to-t via-white from-st-lt-primary;
}

/*> Landing support */
.st__container__ltPrimary {
  @apply bg-st-lt-primary py-4;
}

.st__support__wrap {
  @apply flex flex-col items-center justify-center w-11/12 rounded-lg bg-white py-4;
}

.st__support__title__wrap {
  @apply flex justify-between items-center mt-4;
}

.st__support__title {
  @apply text-center font-fell text-5xl md:text-7xl;
}

.st__support__logo {
  @apply block ml-5;
}

.st__support__p {
  @apply text-center font-Inconsolata text-base;
}
.st__support__infocard {
  @apply flex flex-col items-end px-3 w-36  border-2 border-st-secondary rounded-lg;
}

.st__support__infotitle {
  @apply font-Inconsolata text-2xl text-link-blue font-bold;
}

.st__support__infosub {
  @apply font-Inconsolata text-4xl font-bold;
}

.st__support__infosmall {
  @apply font-Inconsolata text-base font-semibold;
}

/*> Landing promo */
.st__promo__card {
  @apply flex flex-col justify-between my-2 sm:my-8 mx-2 p-2 w-[275px] h-[445px] align-middle rounded-md text-white bg-st-primary drop-shadow-md cursor-pointer;
}

.st__promo__header {
  @apply flex items-center justify-around;
}

.st__promo__title {
  @apply text-white font-bold;
}

/* .st__promo__info {
  @apply text-4xl font-bold text-st-secondary rounded-full
} */

.donateListHead {
  @apply text-center w-full my-2 text-st-secondary font-bold;
}

.donateList {
  @apply flex flex-col items-center;
}

.donateList li {
  @apply mt-3 list-none
}

/*> Landing Video*/
.st__container__video {
  @apply flex flex-col items-center justify-between bg-st-drk-primary w-96 sm:w-[640px] lg:w-[950px] xl:w-[1024px];
}

.st__video__begin {
  @apply h-4 bg-st-lt-primary rounded-b-md w-96 sm:w-[640px] lg:w-[950px] xl:w-[1024px];
}

.st__wrap__video {
  @apply flex items-center justify-center w-full mt-12 sm:mt-24 mb-44 bg-[url('/images/Group_30.svg')] bg-no-repeat;
}
